*{
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Open Sans', sans-serif;
}

.container{
    background-color: black;
}
.texto{
    text-align: justify;
    font-size: 2.0rem;
    padding: 80px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    color:white;

}

h1{
    color: red;
}

.parrafo::first-letter{
    font-size: 4rem;
    color: red;
    float: left;
    margin-right: 1rem;
}
.imagen {
    background-image: url(img/banner.jpg);
    width: 1290px;
    height: 300px;
    background-position: left;
    background-repeat: no-repeat;
}

.lista img{
    width: 100px;
    height: 90px;
    border-radius: 8px;

}
li{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.container-list{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 5px;
}

h2{
    color: white;
}